@{
    ViewBag.Title = "Admin";
}

<h2>@ViewBag.Title</h2>

<section class="row">
    <div class="col-md-3">
        <ul class="list-unstyled panel-group" id="peopleList">
            <li ng-repeat="person in people" class="admin-person-list-item panel panel-default">
                <a data-toggle="collapse" data-parent="#peopleList" href="[data-id='{{person.firstName}}{{person.lastName}}']" class="panel-heading">
                    <span class="panel-title">{{person.firstName}} {{person.lastName}}</span>
                    <i class="fa fa-chevron-down down pull-right"></i>
                    <i class="fa fa-chevron-up up pull-right"></i>
                </a>
                <form class="panel-collapse collapse" data-id="{{person.firstName}}{{person.lastName}}" ng-submit="people.$save(person)">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" ng-model="person.firstName" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="person.lastName" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="person.email" />
                        </div>
                        <div class="form-group">
                            <label>Trello ID</label>
                            <input type="text" class="form-control" ng-model="person.trelloId" />
                        </div>
                        <div class="form-group">
                            <label>Team</label>
                            <select class="form-control" ng-model="person.team">
                                <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" ng-model="person.status">
                                <option value="active">Active</option>
                                <option value="active">Inactive</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </div>
                </form>
            </li>
        </ul>
        <button type="button" class="btn btn-success btn-block add-btn" data-toggle="modal" data-target="#newMemberModal"><i class="fa fa-plus"></i> Add New Member</button>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <section class="row">
            <div class="col-xs-6 result-section">
                <h3>Effort by Work Type</h3>
                <ul class="list-unstyled clearfix">
                    <li class="result-item" data-result-container>
                        <h3 data-team class="result-item-title">2016</h3>
                        @*<strong data-result class="result-item-value"></strong>*@
                        <canvas data-worktype-chart width="220" height="220"></canvas>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 result-section">
                <h3>People Per Card</h3>
                <dl data-people-per-card-list class="result-item"></dl>
            </div>
        </section>

    </div>
</section>

<div class="modal fade " id="newMemberModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a New Team Member</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="addPerson()">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" ng-model="newPerson.firstName" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="newPerson.lastName" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="newPerson.email" />
                        </div>
                        <div class="form-group">
                            <label>Trello ID</label>
                            <input type="text" class="form-control" ng-model="newPerson.trelloId" />
                        </div>
                        <div class="form-group">
                            <label>Team</label>
                            <select class="form-control" ng-model="newPerson.team">
                                <option></option>
                                <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" ng-model="newPerson.status">
                                <option></option>
                                <option value="active">Active</option>
                                <option value="active">Inactive</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {
    <script>

        $('body').on('click', '[data-parent=#peopleList]', function () {
            var $parent = $(this).closest('.admin-person-list-item');
            if ($parent.hasClass('panel-info')) {
                $parent.removeClass('panel-info');
            } else {
                $('.admin-person-list-item').removeClass('panel-info');
                $parent.addClass('panel-info');
            }
        });

        // This gets worktype distribution by effort
        var effortsByWorkType = [];
        FB('cards').orderByChild('dateCompleted').startAt(1451628000000).once('value', function (snapshot) {
            var cards = snapshot.val(),
                workTypes = [];
            Object.keys(cards).forEach(function (cardKey) {
                var card = cards[cardKey];
                if (workTypes.indexOf(card.workType) < 0) {
                    workTypes.push(card.workType);
                }
                var index = workTypes.indexOf(card.workType);
                if (typeof effortsByWorkType[index] == 'undefined') effortsByWorkType[index] = 0;
                if (typeof card.effort != 'undefined') {
                    effortsByWorkType[index] += parseFloat(card.effort);
                }
            });
            makePieChart(workTypes, effortsByWorkType, $('[data-worktype-chart]'));
        });

        //Get average people per card for each team
        FB('teams').on('child_added', function (team) {
            var peoplePerCard = [];
            FB('cards').orderByChild('team').equalTo(team.key()).on('value', function (cards) {
                $.each(Object.keys(cards.val()), function (index, card) {
                    var people = cards.val()[card].people;
                    if (people) {
                        peoplePerCard.push(Object.keys(cards.val()[card].people).length);
                    } else {
                        peoplePerCard.push(0);
                    }
                });
                var totalPeople = peoplePerCard.reduce(function (a, b) {
                    return a + b;
                });
                $('[data-people-per-card-list]').append('<dt><h3 class=result-item-title>' + team.key() + '</h3></dt><dd class=result-item-result>' + (totalPeople / peoplePerCard.length).toFixed(2) + '</dd>');
            });
        });

    </script>
}


