@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<aside class="sync">
    <button type="button" class="btn btn-success sync-button" data-sync="boards"><i class="glyphicon glyphicon-refresh"></i>Sync Trello Boards</button>
    <button type="button" class="btn btn-success sync-button" data-sync="cards"><i class="glyphicon glyphicon-refresh"></i>Sync Trello Cards</button>
</aside>

<ul data-admin-list class="admin-list list-unstyled clearfix">
    <li class="admin-list-item col-md-8">
        <a data-toggle="collapse" href="#add-buck" aria-expanded="false" aria-controls="add-buck" class="btn btn-default admin-nav">
            <i class="glyphicon glyphicon-plus btn-icon"></i>Add a Bullseye Buck
        </a>
        <div class="collapse" id="add-buck">
            <div class="well">
                <form data-buck-form>
                    <label>
                        Team Member
                        <select data-buck-people>
                            <option></option>
                        </select>
                    </label>
                    <label>
                        Brief Description
                        <textarea data-buck-description required></textarea>
                    </label>
                    <label>
                        Team
                        <select data-buck-teams required>
                            <option></option>
                        </select>
                    </label>
                    <label>
                        Date
                        <input type="date" data-buck-date required />
                    </label>
                    <button class="btn btn-primary" type="submit">Add Bullseye Buck</button>
                </form>
            </div>
        </div>
    </li>
    <li data-admin-list-item class="admin-list-item col-md-8">
        <a data-toggle="collapse" href="#manage-people" aria-expanded="false" aria-controls="manage-people" class="btn btn-default admin-nav">
            <i class="glyphicon glyphicon-plus btn-icon"></i>Team Members
        </a>
        <div class="collapse" id="manage-people">
            <div class="well people-container">
                <ul data-admin-people-list class="list-unstyled"></ul>
                <a data-toggle="collapse" href="#add-person-form" class="btn btn-default"><i class="glyphicon glyphicon-plus btn-icon"></i>Add a Team Member</a>
                <form class="collapse well" id="add-person-form" data-fb-form data-fb-root="people" data-reset="true" data-collapse="true">
                    <input type="hidden" data-name-child data-fb-child />
                    <label>
                        First Name
                        <input type="text" data-fb-field="firstName" />
                    </label>
                    <label>
                        Last Name
                        <input type="text" data-fb-field="lastName" />
                    </label>
                    <label>
                        Team
                        <select data-team-list>
                            <option></option>
                        </select>
                    </label>
                    <input type="hidden" value="active" data-fb-field="status" />
                    <button type="submit" class="btn btn-primary">Add Team Member</button>
                </form>
            </div>
        </div>
    </li>
</ul>

<template data-template="person">
    <li data-admin-person class="admin-person-list-item">
        <a data-toggle="collapse" class="admin-person" data-person-name>
            <i class="glyphicon glyphicon-edit admin-person-edit"></i>
        </a>

        <form class="collapse well" data-person-form>
            <fieldset>
                <legend>Status</legend>
                <label class="status-option">
                    <input type="radio" name="status" data-status="active" />
                    Active
                </label>
                <label class="status-option">
                    <input type="radio" name="status" data-status="inactive" />
                    Inactive
                </label>
            </fieldset>

            <label>
                Team
                <select data-team-list>
                    <option></option>
                </select>
            </label>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </li>
</template>


@section scripts {
    <script>

        $('#add-person-form [data-fb-field=firstName], #add-person-form [data-fb-field=lastName]').on('input', function () {
            var child = $('#add-person-form [data-fb-field=firstName]').val().trim() + ' ' + $('#add-person-form [data-fb-field=lastName]').val().trim();
            $('[data-name-child]').first().data('fb-child', child);
        });

        $('[data-admin-list-item]').on('click', '[data-toggle=collapse]', function (e) {
            e.preventDefault();
            var target = $(e.target).attr('href');
            $(target).collapse('toggle');
        });

        //Get Teams from DB
        FB.teams.on('child_added', function (snapshot) {
            var team = snapshot.key();
            $('[data-buck-teams], [data-team-list]').append('<option data-buck-team data-fb-field="team">' + team + '</option>')
        });

        //Get People from DB after teams
        FB.teams.on('value', function (teams) {
            var teamNames = Object.keys(teams.val());

            FB.people.orderByChild('status').equalTo('active').on('child_added', function (snapshot) {
                var person = snapshot.val();
                var name = person.firstName + ' ' + person.lastName;
                var nameId = person.firstName + person.lastName;
                nameId = nameId.replace(/\s+/g, '');

                $('[data-buck-people]').append('<option data-buck-person>' + name + '</option>');

                var personDisplay = $($('[data-template=person]').html().trim());
                personDisplay.find('[data-person-name]').append(name);
                personDisplay.find('[data-toggle=collapse]').attr('href', '#' + nameId);
                personDisplay.find('.collapse').attr('id', nameId);
                $.each(teamNames, function (index, teamName) {
                    var selected = person.team == teamName ? 'selected' : '';
                    personDisplay.find('[data-team-list]').append('<option data-team-option ' + selected + '>' + teamName + '</option>');
                });
                personDisplay.find('[data-status=' + person.status + ']').prop('checked', true);
                $('[data-admin-people-list]').append(personDisplay);
            });
        });

        //Handle Bullseye Buck form submission
        $('[data-buck-form]').on('submit', function (e) {
            e.preventDefault();
            var buck = {
                time: Date.parse($('[data-buck-date]').val()),
                description: $('[data-buck-description]').val(),
                person: $('[data-buck-person]:selected').val(),
                team: $('[data-buck-team]:selected').val()
            }

            FB.bucks.push(buck, function (error) {
                if (error) {
                    alert('Buck not submitted: ' + error);
                } else {
                    $('[data-buck-form]')[0].reset();
                }
            });
        });

        //Handle update team member form submission
        $('[data-admin-people-list]').on('submit', '[data-person-form]', function (e) {
            e.preventDefault();
            var person = {
                status: $(this).find('[data-status]:checked').data('status'),
                team: $(this).find('[data-team-option]:selected').val()
            }
            if (person.status == 'inactive') {
                person.team = null;
            }

            var personName = $(this).prev('[data-person-name]').text().trim();
            var $element = $('#' + personName.replace(/\s+/g, ''));
            FB.people.child(personName).update(person, function (error) {
                if (error) {
                    alert('Error: ' + error);
                } else {
                    $element.collapse('toggle');
                }
            });
        });

        $('body').on('submit', '[data-fb-form]', function (e) {
            e.preventDefault();
            var obj = {};
            $('[data-fb-field]').each(function () {
                obj[$(this).data('fb-field')] = $(this).val();
            });
            var ref = fbRootRef.child($(this).data('fb-root'));
            $(this).find('[data-fb-child]').each(function () {
                ref = ref.child($(this).data('fb-child'));
            });
            var $form = $(this);
            ref.update(obj, function (error) {
                if (error) {
                    alert('Error: ' + error);
                } else {
                    console.log($form);
                    if ($form.data('reset')) {
                        $form[0].reset();
                    }
                    if ($form.data('collapse')) {
                        $form.collapse('toggle');
                    }
                }
            });

        });

    </script>
}


