@{
    ViewBag.Title = "Bug Report";
}

<h2>@ViewBag.Title</h2>

<form data-bug="form">
    <label>
        Date Introduced (approximate)
        <input type="date" data-bug="date" required />
    </label>
    <label>
        Brief Description
        <textarea data-bug="description" required></textarea>
    </label>
    <fieldset data-bug="people">
        <legend>People Involved</legend>

    </fieldset>
    <label>
        Team
        <select data-team-list required>
            <option></option>
        </select>
    </label>
    <button type="submit" class="btn btn-primary">Submit Bug Report</button>
</form>

@section scripts {
    <script>
        //Get People from DB
        FB.names.on('child_added', function(snapshot) {
            var name = snapshot.key();
            $('[data-bug="people"]').append('<label><input type=checkbox data-bug="person">' + name + '</label>');
        });

        //Handle form submission
        $('[data-bug=form]').on('submit', function(e) {
            e.preventDefault();
            var bug = {
                dateIntroduced: Date.parse($('[data-bug=date]').val()),
                description: $('[data-bug=description]').val(),
                people: {},
                team: $(this).find('[data-team-list]').val()
            }
            console.log(bug);
            $('[data-bug=person]:checked').each(function(index, checkbox) {
                var person = $(checkbox).parents('label').first().text();
                bug.people[person] = true;
            });

            //add defect to DB
            FB.defects.push(bug, function(error) {
                if (error) {
                    $('[data-error-message]').text(error);
                    $('[data-error]').removeClass('hidden');
                } else {
                    $('[data-success-message]').text('Bug submitted.');
                    $('[data-success]').removeClass('hidden');
                    $('[data-bug=form]')[0].reset();

                    //After the defect is added...
                    FB.defects.limitToLast(1).on('child_added', function(defect) {
                        //create defect reference
                        var defectObj = {};
                        defectObj[defect.key()] = true;

                        //add defect reference to iteration
                        FB.iterations.orderByChild('endDate').startAt(defect.val().dateIntroduced).limitToFirst(1).on('child_added', function(iteration) {
                            FB.iterations.child(iteration.val().endDate).child(defect.val().team).child('defects').update(defectObj, fbCallback);
                        });

                        //add defect reference to person
                        $.each(Object.keys(defect.val().people), function(index, person) {
                            FB.names.orderByKey().equalTo(person).once('child_added', function(name) {
                                FB.users.child(name.val()).child('defects').update(defectObj, fbCallback);
                            });
                            
                        });

                        //add defect reference to team
                        FB.teams.child(defect.val().team).child('defects').update(defectObj, fbCallback);

                    });
                }
            });
        });

    </script>
}
