@{
    ViewBag.Title = "Home Page";
}


<h1>Web Production Measures</h1>
<div class="row">
    <h2 class="col-xs-12">Current Iteration Progress</h2>
    <div class=col-md-4 ng-repeat="team in teams"> 
        <h3>Team {{ team.name }}: <b>{{ display[team.name].currentProgress }}%</b></h3>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-xs-12">Velocity</h2>
    <div class=col-md-6 ng-repeat="team in teams">
        <h3>Team {{ team.name }}: <b>{{ display[team.name].velocityAverage }}</b></h3>
        <canvas trend-chart display="display" team="team.name" chart-data="velocityByIteration"></canvas>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-xs-12">Bug Free Work Items</h2>
    <div class=col-md-6 ng-repeat="team in teams">
        <h3>Team {{ team.name }}: <b>{{ display[team.name].qualityAverage }}%</b></h3>
        <canvas trend-chart display="display" team="team.name" chart-data="qualityByIteration"></canvas>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-xs-12">Iteration Completion</h2>
    <div class=col-md-6 ng-repeat="team in teams">
        <h3>Team {{ team.name }}: <b>{{ display[team.name].percentCompleteAverage }}%</b></h3>
        <canvas trend-chart display="display" team="team.name" chart-data="percentCompleteByIteration"></canvas>
    </div>
</div>

<script>
    
</script>

