@{
    ViewBag.Title = "Home Page";
}


<h1>Web Production Measures</h1>

<div class="row">
    <div class="col-lg-1">
        <h2>Velocity</h2>
        <ul data-velocity-list></ul>
    </div>
</div>

<template data-template="velocity">
    <li class="col-md-4">
        <h3 data-team>Team North</h3>
        <dl>
            <dt>Average: </dt>
            <dd data-average></dd>
            <dt>Most Recent: </dt>
            <dd data-last></dd>
        </dl>
    </li>
</template>